


.btn {
    border-radius: 10px;   
    background-color: whitesmoke;
    margin-top: 5px; 
    text-align: center;
    font-family: italic;
    font-size: 14px;
    position: relative;
}

.btn:hover {
    background-color: rgb(212, 211, 211)
}