.divContainer{
  
}

.h1{
    width: 699px;
    height: 57px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: -1px;
    color: #373737;
    
}

.divButtons1{
    display: flex;
    justify-content: space-between;   
    gap: 2rem;   
    padding: 8px;
    width: 100%;    
}

.divButtons2{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.p{    
    width: 230px;
    height: 14px;    
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.07875px;
    color: #373737;
}

.btn{
    height: 31px;
    right: 462px;
    background: #F7F7F7;
    border-radius: 18px; 
    border: none;
    color: #373737; 
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.07875px;
    cursor: pointer;
}

.btn:hover{
    background: #e0d8d8;    
}

.sel{    
    height: 31px;
    right: 462px;
    background: #F7F7F7;
    border: none;
    color: #373737; 
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.07875px;
    cursor: pointer;
}

.hr{
    left: 0.18%;
    top: 97.56%;
    border: 1px solid #D8D8D8;
}

.divCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;   
    padding: 5px; 
    margin-top: 50px; 
    margin-bottom: 50px;    
}




